In [1]:
require(tidyverse)

Loading required package: tidyverse

Warning message:
"package 'tidyverse' was built under R version 3.6.2"
-- Attaching packages --------------------------------------- tidyverse 1.3.0 --

v ggplot2 3.3.0     v purrr   0.3.3
v tibble  2.1.3     v dplyr   0.8.3
v tidyr   1.0.0     v stringr 1.4.0
v readr   1.3.1     v forcats 0.4.0

Warning message:
"package 'ggplot2' was built under R version 3.6.3"
Warning message:
"package 'purrr' was built under R version 3.6.2"
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [2]:
k_17 <- read.csv("table_export_DATA_2017.csv")

In [3]:
k_17$POST_DATE <- as.Date(k_17$POST_DATE)
k_17$EMP_NUM <- as.factor(k_17$EMP_NUM)
k_17$SUP_EMP_NUM <- as.factor(k_17$SUP_EMP_NUM)
k_17$WORK_ORDER <- as.factor(k_17$WORK_ORDER)
k_17$OPERATION_NUM <- as.factor(k_17$OPERATION_NUM)
k_17$PRODUCT_LINE <- as.factor(k_17$PRODUCT_LINE)
k_17$PRODUCT_CELL_ID <- as.factor(k_17$PRODUCT_CELL_ID)
k_17$ROUTING_GROUP_ID <- as.factor(k_17$ROUTING_GROUP_ID)
k_17$DOC <- as.factor(k_17$DOC)

In [4]:
k_17 <- mutate(k_17,HRS_part = HRS/QUANTITY)

summary(k_17)

   POST_DATE             EMP_NUM         SUP_EMP_NUM          WORK_ORDER
 Min.   :0001-01-20   818888 :  15207   823708 : 168120   161188043:    130
 1st Qu.:0004-04-20   841336 :  12751   824077 : 121118   161147650:    122
 Median :0006-12-20   827944 :  11485   840323 : 106048   161036195:    119
 Mean   :0007-03-10   818954 :  11061   845260 : 104003   161239155:    116
 3rd Qu.:0010-04-20   825513 :  10606   818933 : 103368   161298781:    116
 Max.   :0012-12-20   837189 :  10505   (Other):1013914   161277191:    114
 NA's   :1010167      (Other):1545093   NA's   :    137   (Other)  :1615991
 OPERATION_NUM        QUANTITY             HRS           HRS_CLASS
 10     : 104044   Min.   :   1.000   Min.   :-40.0000   R:1373280
 30     :  81730   1st Qu.:   1.000   1st Qu.:  0.1100   S:     10
 20     :  80329   Median :   2.000   Median :  0.2400   T: 243403
 50     :  78450   Mean   :   6.511   Mean   :  0.4162   V:     15
 40     :  73611   3rd Qu.:   6.000   3rd Qu.:  0.5100
 60     :  64705   Max.   :1184.000   Max.   : 40.0000
 (Other):1133839   NA's   :3
   TYPE          PRODUCT_LINE    PRODUCT_CELL_ID   ROUTING_GROUP_ID
     :      1   71     :409103   384    : 120352   1586   : 109829
 ZP03:1609396   57     :192332   321    :  92816   1636   :  62948
 ZP06:   1116   55     :176688   353    :  70843   728    :  34554
 ZRTN:   3312   28     :138257   383    :  63827   2292   :  26728
 ZRW3:   2860   76     :108175   1621   :  56986   2488   :  24678
 ZRW6:     23   25     : 77661   399    :  46985   1240   :  24079
                (Other):514492   (Other):1164899   (Other):1333892
      DOC             HRS_part
 M102678:  52481   Min.   :-40.0000
 M101090:  36588   1st Qu.:  0.0340
 M119411:  36259   Median :  0.0980
 M114136:  35455   Mean   :  0.1996
 M101095:  33470   3rd Qu.:  0.2300
 M115907:  22192   Max.   : 40.0000
 (Other):1400263   NA's   :3

In [5]:
a <- as.matrix(which(is.na(k_17$QUANTITY)))
k_17[a[1],]
k_17[a[2],]
k_17[a[3],]

       POST_DATE  EMP_NUM SUP_EMP_NUM WORK_ORDER OPERATION_NUM QUANTITY HRS
112933 0002-01-20 825013  824132      17023316   100           NA       0.1
       HRS_CLASS TYPE PRODUCT_LINE PRODUCT_CELL_ID ROUTING_GROUP_ID DOC
112933 R              59           351             3442             M100132
       HRS_part
112933 NA

       POST_DATE  EMP_NUM SUP_EMP_NUM WORK_ORDER OPERATION_NUM QUANTITY HRS
526543 0005-03-20 837826  824306      161151014  10            NA       5.57
       HRS_CLASS TYPE PRODUCT_LINE PRODUCT_CELL_ID ROUTING_GROUP_ID DOC
526543 R         ZRW3 68           316             3065             M118594
       HRS_part
526543 NA

       POST_DATE  EMP_NUM SUP_EMP_NUM WORK_ORDER OPERATION_NUM QUANTITY HRS
532902 0005-04-20 818741  824306      161151014  10            NA       0.6
       HRS_CLASS TYPE PRODUCT_LINE PRODUCT_CELL_ID ROUTING_GROUP_ID DOC
532902 R         ZRW3 68           316             3065             M118594
       HRS_part
532902 NA

In [6]:
k_17 <- k_17[-a[1],]
k_17 <- k_17[-(a[2]-1),]
k_17 <- k_17[-(a[3]-2),]

In [7]:
sum(is.na(k_17$QUANTITY))

[1] 0

In [8]:
by_part <- group_by(k_17,ROUTING_GROUP_ID)
A <- arrange(summarise(by_part,op_hrs = sum(HRS_part),count = n()),op_hrs)
head(arrange(A,desc(op_hrs)))
A[A$ROUTING_GROUP_ID == '1709',]

  ROUTING_GROUP_ID op_hrs    count
1 1586             19064.070 109829
2 728              14225.270  34554
3 141               9389.947  23208
4 2488              7856.446  24678
5 1636              6061.211  62948
6 641               5911.900  14409

  ROUTING_GROUP_ID op_hrs   count
1 1709             1799.801 9637

In [9]:
part1 <- k_17[k_17$ROUTING_GROUP_ID == '1586',]
part2 <- k_17[k_17$ROUTING_GROUP_ID == '728',]
part3 <- k_17[k_17$ROUTING_GROUP_ID == '141',]
part4 <- k_17[k_17$ROUTING_GROUP_ID == '2488',]
part5 <- k_17[k_17$ROUTING_GROUP_ID == '1709',]

In [10]:
summary(part1)

   POST_DATE             EMP_NUM       SUP_EMP_NUM        WORK_ORDER
 Min.   :0001-02-20   841336 :10716   837146 :28826   161853646:    54
 1st Qu.:0004-05-20   823399 : 9319   845260 :27682   161495531:    53
 Median :0006-08-20   818800 : 8853   843499 :17591   161770777:    51
 Mean   :0007-02-28   837189 : 7852   838240 :12673   161954063:    51
 3rd Qu.:0010-05-20   837987 : 5739   849257 :10639   161741902:    50
 Max.   :0012-12-20   840822 : 5451   824132 : 4605   161770781:    50
 NA's   :68025        (Other):61899   (Other): 7813   (Other)  :109520
 OPERATION_NUM      QUANTITY      HRS          HRS_CLASS   TYPE
 160    :10224   Min.   :1   Min.   :-4.1300   R:93391       :     0
 150    : 9849   1st Qu.:1   1st Qu.: 0.0500   S:    0   ZP03:109748
 10     : 8640   Median :1   Median : 0.1000   T:16438   ZP06:     0
 110    : 8293   Mean   :1   Mean   : 0.1736   V:    0   ZRTN:     0
 340    : 5238   3rd Qu.:1   3rd Qu.: 0.2000             ZRW3:    81
 140    : 5035   Max.   :1   Max.   : 5.4600             ZRW6:     0
 (Other):62550
  PRODUCT_LINE    PRODUCT_CELL_ID  ROUTING_GROUP_ID            DOC
 71     :109829   384    :109829   1586   :109829   M123425      :10224
 24     :     0   302    :     0   61     :     0   M123423      : 9849
 25     :     0   303    :     0   62     :     0   M101100      : 8640
 26     :     0   304    :     0   63     :     0   SIS4171730523: 8630
 27     :     0   305    :     0   81     :     0   M123417      : 8293
 28     :     0   306    :     0   82     :     0   M101092      : 5238
 (Other):     0   (Other):     0   (Other):     0   (Other)      :58955
    HRS_part
 Min.   :-4.1300
 1st Qu.: 0.0500
 Median : 0.1000
 Mean   : 0.1736
 3rd Qu.: 0.2000
 Max.   : 5.4600

In [11]:
summary(part2)

   POST_DATE             EMP_NUM       SUP_EMP_NUM        WORK_ORDER
 Min.   :0001-03-20   818771 : 5086   840323 :11049   161519252:  102
 1st Qu.:0003-08-20   824289 : 2715   845599 : 9723   162310660:   98
 Median :0006-03-20   818484 : 2473   818604 : 6287   161493398:   89
 Mean   :0006-07-19   823151 : 2447   843499 : 3332   160861522:   82
 3rd Qu.:0009-05-20   822963 : 1761   823708 : 2848   161488116:   80
 Max.   :0012-12-20   818675 : 1582   845260 :  997   160871932:   79
 NA's   :21885        (Other):18490   (Other):  318   (Other)  :34024
 OPERATION_NUM      QUANTITY      HRS          HRS_CLASS   TYPE
 330    : 2330   Min.   :1   Min.   :-6.2900   R:28252       :    0
 270    : 2005   1st Qu.:1   1st Qu.: 0.1100   S:    2   ZP03:34465
 310    : 1934   Median :1   Median : 0.2200   T: 6300   ZP06:   89
 250    : 1683   Mean   :1   Mean   : 0.4117   V:    0   ZRTN:    0
 10     : 1616   3rd Qu.:1   3rd Qu.: 0.4600             ZRW3:    0
 200    : 1546   Max.   :1   Max.   : 7.2000             ZRW6:    0
 (Other):23440
  PRODUCT_LINE   PRODUCT_CELL_ID ROUTING_GROUP_ID              DOC
 57     :34554   330    :34554   728    :34554    M119411        :27469
 24     :    0   302    :    0   61     :    0    M114363        : 3432
 25     :    0   303    :    0   62     :    0    D8930170       : 2330
 26     :    0   304    :    0   63     :    0    SIS1791694730  : 1323
 27     :    0   305    :    0   81     :    0    00857-0869-0001:    0
 28     :    0   306    :    0   82     :    0    00859-0674-0001:    0
 (Other):    0   (Other):    0   (Other):    0    (Other)        :    0
    HRS_part
 Min.   :-6.2900
 1st Qu.: 0.1100
 Median : 0.2200
 Mean   : 0.4117
 3rd Qu.: 0.4600
 Max.   : 7.2000

In [12]:
summary(part3)

   POST_DATE             EMP_NUM       SUP_EMP_NUM        WORK_ORDER
 Min.   :0001-03-20   818888 : 2630   823708 :21160   161700416:  106
 1st Qu.:0004-12-20   826237 : 2343   843499 :  613   160744564:   93
 Median :0007-11-20   838179 : 2046   824132 :  489   161802107:   92
 Mean   :0007-05-06   823780 : 1793   845260 :  270   161075870:   88
 3rd Qu.:0009-11-20   847444 : 1387   845599 :  200   161784867:   84
 Max.   :0012-12-20   841248 : 1240   829449 :  187   161884887:   84
 NA's   :15180        (Other):11769   (Other):  289   (Other)  :22661
 OPERATION_NUM      QUANTITY          HRS           HRS_CLASS   TYPE
 70     : 1955   Min.   :1.000   Min.   :-40.0000   R:18821       :    0
 110    :  869   1st Qu.:1.000   1st Qu.:  0.1200   S:    0   ZP03:23202
 60     :  722   Median :1.000   Median :  0.2300   T: 4387   ZP06:    0
 80     :  693   Mean   :1.001   Mean   :  0.4047   V:    0   ZRTN:    0
 200    :  665   3rd Qu.:1.000   3rd Qu.:  0.4900             ZRW3:    6
 50     :  652   Max.   :5.000   Max.   : 40.0000             ZRW6:    0
 (Other):17652
  PRODUCT_LINE   PRODUCT_CELL_ID ROUTING_GROUP_ID              DOC
 55     :23208   353    :23208   141    :23208    M100640        :21926
 24     :    0   302    :    0   61     :    0    D9730098       :  646
 25     :    0   303    :    0   62     :    0    MPS-175        :  362
 26     :    0   304    :    0   63     :    0    M114232        :  274
 27     :    0   305    :    0   81     :    0    00857-0869-0001:    0
 28     :    0   306    :    0   82     :    0    00859-0674-0001:    0
 (Other):    0   (Other):    0   (Other):    0    (Other)        :    0
    HRS_part
 Min.   :-40.0000
 1st Qu.:  0.1200
 Median :  0.2300
 Mean   :  0.4046
 3rd Qu.:  0.4900
 Max.   : 40.0000

In [13]:
summary(part4)

   POST_DATE             EMP_NUM       SUP_EMP_NUM        WORK_ORDER
 Min.   :0001-03-20   828476 : 3354   827659 :13651   160974385:   37
 1st Qu.:0003-10-20   845572 : 2382   824089 : 8867   160870903:   36
 Median :0006-12-20   847121 : 1872   824132 : 1716   160974384:   36
 Mean   :0007-02-28   818628 : 1853   823148 :  127   161748573:   36
 3rd Qu.:0010-06-20   838264 : 1627   837108 :   92   160989294:   35
 Max.   :0012-12-20   818716 : 1490   822105 :   77   161758725:   35
 NA's   :14767        (Other):12100   (Other):  148   (Other)  :24463
 OPERATION_NUM      QUANTITY          HRS          HRS_CLASS   TYPE
 700    : 4307   Min.   :1.000   Min.   :-8.2000   R:20777       :    0
 1050   : 3320   1st Qu.:1.000   1st Qu.: 0.1200   S:    0   ZP03:24678
 450    : 1823   Median :1.000   Median : 0.2400   T: 3901   ZP06:    0
 1450   : 1806   Mean   :1.005   Mean   : 0.3186   V:    0   ZRTN:    0
 50     : 1613   3rd Qu.:1.000   3rd Qu.: 0.4300             ZRW3:    0
 250    : 1580   Max.   :8.000   Max.   : 8.2000             ZRW6:    0
 (Other):10229
  PRODUCT_LINE   PRODUCT_CELL_ID ROUTING_GROUP_ID              DOC
 76     :24678   399    :24678   2488   :24678    M110055        :18565
 24     :    0   302    :    0   61     :    0    M110056        : 4307
 25     :    0   303    :    0   62     :    0    M107115        : 1806
 26     :    0   304    :    0   63     :    0    00857-0869-0001:    0
 27     :    0   305    :    0   81     :    0    00859-0674-0001:    0
 28     :    0   306    :    0   82     :    0    00860-0564-0002:    0
 (Other):    0   (Other):    0   (Other):    0    (Other)        :    0
    HRS_part
 Min.   :-8.2000
 1st Qu.: 0.1200
 Median : 0.2400
 Mean   : 0.3184
 3rd Qu.: 0.4300
 Max.   : 8.2000

In [14]:
summary(part5)

   POST_DATE             EMP_NUM      SUP_EMP_NUM       WORK_ORDER
 Min.   :0001-03-20   841336 :1161   837146 :3170   161629644:  44
 1st Qu.:0008-05-20   818800 :1148   845260 :2651   161724244:  44
 Median :0010-04-20   837987 : 694   849257 :1283   161764643:  43
 Mean   :0008-09-01   848642 : 641   843499 : 923   161910822:  42
 3rd Qu.:0011-01-20   837189 : 419   829449 : 490   161637348:  41
 Max.   :0012-12-20   847809 : 407   824132 : 407   161716708:  41
 NA's   :5675         (Other):5167   (Other): 713   (Other)  :9382
 OPERATION_NUM     QUANTITY          HRS          HRS_CLASS   TYPE
 160    :1171   Min.   :1.000   Min.   :-1.3600   R:7852        :   0
 150    : 877   1st Qu.:1.000   1st Qu.: 0.0600   S:   0    ZP03:9543
 110    : 832   Median :1.000   Median : 0.1100   T:1785    ZP06:   1
 140    : 481   Mean   :1.012   Mean   : 0.1871   V:   0    ZRTN:   0
 365    : 477   3rd Qu.:1.000   3rd Qu.: 0.2300             ZRW3:  93
 180    : 450   Max.   :7.000   Max.   : 3.9300             ZRW6:   0
 (Other):5349
  PRODUCT_LINE  PRODUCT_CELL_ID ROUTING_GROUP_ID            DOC
 71     :9637   384    :9637    1709   :9637     M101090      :1327
 24     :   0   302    :   0    61     :   0     M119143      :1171
 25     :   0   303    :   0    62     :   0     SIS3261152956:1161
 26     :   0   304    :   0    63     :   0     M102114      : 832
 27     :   0   305    :   0    81     :   0     M101095      : 814
 28     :   0   306    :   0    82     :   0     M101096      : 481
 (Other):   0   (Other):   0    (Other):   0     (Other)      :3851
    HRS_part
 Min.   :-1.3600
 1st Qu.: 0.0600
 Median : 0.1100
 Mean   : 0.1868
 3rd Qu.: 0.2300
 Max.   : 3.9300

In [15]:
part1586 <- group_by(part1,WORK_ORDER)
B<- arrange(summarise(part1586,cycle_time = sum(HRS_part)),cycle_time)
(mean_1586 <- sum(B$cycle_time)/dim(B)[1])
(variance_1586 <- var(B$cycle_time))

[1] 4.731713

[1] 2.013444

In [16]:
part728 <- group_by(part2,WORK_ORDER)
B<- arrange(summarise(part728,cycle_time = sum(HRS_part)),cycle_time)
(mean_728 <- sum(B$cycle_time)/dim(B)[1])
(variance_728 <- var(B$cycle_time))

[1] 9.267277

[1] 11.65223

In [17]:
part141 <- group_by(part3,WORK_ORDER)
B<- arrange(summarise(part141,cycle_time = sum(HRS_part)),cycle_time)
(mean_141 <- sum(B$cycle_time)/dim(B)[1])
(variance_141 <- var(B$cycle_time))

[1] 21.58609

[1] 46.377

In [18]:
part2488 <- group_by(part4,WORK_ORDER)
B<- arrange(summarise(part2488,cycle_time = sum(HRS_part)),cycle_time)
(mean_2488 <- sum(B$cycle_time)/dim(B)[1])
(variance_2488 <- var(B$cycle_time))

[1] 5.849923

[1] 2.389674

In [19]:
part1709 <- group_by(part5,WORK_ORDER)
B<- arrange(summarise(part1709,cycle_time = sum(HRS_part)),cycle_time)
(mean_1709 <- sum(B$cycle_time)/dim(B)[1])
(variance_1709 <- var(B$cycle_time))

[1] 4.544953

[1] 4.166658

In [20]:
k_18 <- read.csv("table_export_DATA_2018.csv")

In [21]:
k_18$POST_DATE <- as.Date(k_18$POST_DATE)
k_18$EMP_NUM <- as.factor(k_18$EMP_NUM)
k_18$SUP_EMP_NUM <- as.factor(k_18$SUP_EMP_NUM)
k_18$WORK_ORDER <- as.factor(k_18$WORK_ORDER)
k_18$OPERATION_NUM <- as.factor(k_18$OPERATION_NUM)
k_18$PRODUCT_LINE <- as.factor(k_18$PRODUCT_LINE)
k_18$PRODUCT_CELL_ID <- as.factor(k_18$PRODUCT_CELL_ID)
k_18$ROUTING_GROUP_ID <- as.factor(k_18$ROUTING_GROUP_ID)
k_18$DOC <- as.factor(k_18$DOC)

In [22]:
k_18 <- mutate(k_18,HRS_part = HRS/QUANTITY)
summary(k_18)

   POST_DATE             EMP_NUM         SUP_EMP_NUM         WORK_ORDER
 Min.   :0001-02-20   818800 :  18700   824753 :222849   162575140:    192
 1st Qu.:0004-02-20   818888 :  18298   845599 :161744   162516662:    125
 Median :0006-11-20   818623 :  14192   823708 :153403   162369892:    124
 Mean   :0007-02-11   849197 :  13596   835447 :149287   162540529:    121
 3rd Qu.:0010-04-20   837189 :  12639   829449 :127490   162394197:    108
 Max.   :0012-12-20   821132 :  11567   845260 :126511   162932419:     99
 NA's   :1163066      (Other):1796763   (Other):944471   (Other)  :1884986
 OPERATION_NUM        QUANTITY             HRS           HRS_CLASS
 10     : 112132   Min.   :   1.000   Min.   :-144.000   R:1542824
 30     :  95260   1st Qu.:   1.000   1st Qu.:   0.100   S:     58
 50     :  92666   Median :   1.000   Median :   0.220   T: 342853
 20     :  91181   Mean   :   5.849   Mean   :   0.391   U:      4
 40     :  86954   3rd Qu.:   6.000   3rd Qu.:   0.480   V:     16
 60     :  80456   Max.   :1480.000   Max.   : 144.000
 (Other):1327106
   TYPE          PRODUCT_LINE    PRODUCT_CELL_ID   ROUTING_GROUP_ID
 ZP03:1878747   71     :597602   384    : 169135   1586   : 112192
 ZP06:   1969   55     :241746   1621   : 109373   1636   :  69650
 ZRTN:   2021   57     :165616   391    :  91770   1709   :  54684
 ZRW3:   2796   28     :163306   321    :  76174   1247   :  43478
 ZRW6:    222   76     :130696   383    :  70879   1240   :  39402
                25     : 83474   353    :  69683   2292   :  37044
                (Other):503315   (Other):1298741   (Other):1529305
      DOC             HRS_part
 M101095:  61936   Min.   :-144.0000
 M101090:  61358   1st Qu.:   0.0370
 M102678:  58272   Median :   0.1000
 M120118:  40675   Mean   :   0.1974
 M114136:  36626   3rd Qu.:   0.2300
 M115907:  35159   Max.   : 144.0000
 (Other):1591729

In [23]:
by_part <- group_by(k_18,ROUTING_GROUP_ID)
C<- arrange(summarise(by_part,op_hrs = sum(HRS_part),count = n()),op_hrs)
head(arrange(C,desc(op_hrs)))

  ROUTING_GROUP_ID op_hrs   count
1 1586             19434.20 112192
2 728              13256.00  27022
3 2488             10341.16  28157
4 1709              9864.79  54684
5 641               7848.13  17607
6 2292              7761.50  37044

In [24]:
C[C$ROUTING_GROUP_ID == '141',]

  ROUTING_GROUP_ID op_hrs   count
1 141              5294.993 13087

In [25]:
part1 <- k_18[k_18$ROUTING_GROUP_ID == '1586',]
part2 <- k_18[k_18$ROUTING_GROUP_ID == '728',]
part3 <- k_18[k_18$ROUTING_GROUP_ID == '141',]
part4 <- k_18[k_18$ROUTING_GROUP_ID == '2488',]
part5 <- k_18[k_18$ROUTING_GROUP_ID == '1709',]

In [26]:
part1586 <- group_by(part1,WORK_ORDER)
B<- arrange(summarise(part1586,cycle_time = sum(HRS_part)),cycle_time)
(mean_1586 <- sum(B$cycle_time)/dim(B)[1])
(variance_1586 <- var(B$cycle_time))

[1] 5.142683

[1] 2.23785

In [27]:
part728 <- group_by(part2,WORK_ORDER)
B<- arrange(summarise(part728,cycle_time = sum(HRS_part)),cycle_time)
(mean_728 <- sum(B$cycle_time)/dim(B)[1])
(variance_728 <- var(B$cycle_time))

[1] 8.192831

[1] 9.012061

In [28]:
part141 <- group_by(part3,WORK_ORDER)
B<- arrange(summarise(part141,cycle_time = sum(HRS_part)),cycle_time)
(mean_141 <- sum(B$cycle_time)/dim(B)[1])
(variance_141 <- var(B$cycle_time))

[1] 20.68356

[1] 46.7999

In [29]:
part2488 <- group_by(part4,WORK_ORDER)
B<- arrange(summarise(part2488,cycle_time = sum(HRS_part)),cycle_time)
(mean_2488 <- sum(B$cycle_time)/dim(B)[1])
(variance_2488 <- var(B$cycle_time))

[1] 6.52851

[1] 4.11872

In [30]:
part1709 <- group_by(part5,WORK_ORDER)
B<- arrange(summarise(part1709,cycle_time = sum(HRS_part)),cycle_time)
(mean_1709 <- sum(B$cycle_time)/dim(B)[1])
(variance_1709 <- var(B$cycle_time))

[1] 4.411802

[1] 3.025853

In [31]:
k_19 <- read.csv("table_export_DATA_2019.csv")
k_19$POST_DATE <- as.Date(k_19$POST_DATE)
k_19$EMP_NUM <- as.factor(k_19$EMP_NUM)
k_19$SUP_EMP_NUM <- as.factor(k_19$SUP_EMP_NUM)
k_19$WORK_ORDER <- as.factor(k_19$WORK_ORDER)
k_19$OPERATION_NUM <- as.factor(k_19$OPERATION_NUM)
k_19$PRODUCT_LINE <- as.factor(k_19$PRODUCT_LINE)
k_19$PRODUCT_CELL_ID <- as.factor(k_19$PRODUCT_CELL_ID)
k_19$ROUTING_GROUP_ID <- as.factor(k_19$ROUTING_GROUP_ID)
k_19$DOC <- as.factor(k_19$DOC)

In [32]:
k_19 <- mutate(k_19,HRS_part = HRS/QUANTITY)
summary(k_19)

   POST_DATE             EMP_NUM         SUP_EMP_NUM          WORK_ORDER
 Min.   :0001-02-20   818800 :  25220   849797 : 221600   165299588:     98
 1st Qu.:0004-01-20   818888 :  22608   823708 : 152168   165333298:     93
 Median :0006-12-20   849197 :  16821   875510 : 149584   164277352:     90
 Mean   :0007-01-14   818623 :  15583   824753 : 134641   164748805:     88
 3rd Qu.:0010-01-20   825513 :  15201   845260 : 113735   164149145:     87
 Max.   :0012-12-20   849786 :  13082   818777 : 102279   164993680:     87
 NA's   :1342455      (Other):2094762   (Other):1329270   (Other)  :2202734
 OPERATION_NUM        QUANTITY             HRS           HRS_CLASS
 10     : 120631   Min.   :   1.000   Min.   :-144.000   D:      2
 30     : 113788   1st Qu.:   1.000   1st Qu.:   0.090   R:1826112
 50     : 108951   Median :   1.000   Median :   0.200   S:    386
 40     :  97360   Mean   :   5.724   Mean   :   0.371   T: 376767
 20     :  96878   3rd Qu.:   5.000   3rd Qu.:   0.460   U:      2
 60     :  95029   Max.   :1184.000   Max.   : 144.000   V:      8
 (Other):1570640
   TYPE          PRODUCT_LINE    PRODUCT_CELL_ID   ROUTING_GROUP_ID
 ZP03:2196388   71     :762698   384    : 256300   1709   : 239921
 ZP06:   1472   55     :293240   1621   : 162404   1636   :  85552
 ZRTN:   1895   28     :184586   391    : 111726   1240   :  67003
 ZRW3:   3496   57     :174414   383    :  86810   1247   :  58832
 ZRW6:     26   76     :150027   395    :  82797   2292   :  39893
                25     :108277   321    :  75661   1239   :  36569
                (Other):530035   (Other):1427579   (Other):1675507
      DOC             HRS_part
 M101090:  94636   Min.   :-117.0000
 M101095:  79259   1st Qu.:   0.0380
 M102678:  69461   Median :   0.1000
 M115907:  58508   Mean   :   0.1944
 M120118:  54513   3rd Qu.:   0.2250
 M114136:  40430   Max.   : 117.0000
 (Other):1806470

In [33]:
by_part <- group_by(k_19,ROUTING_GROUP_ID)
A <- arrange(summarise(by_part,op_hrs = sum(HRS_part),count = n()),op_hrs)
head(arrange(A,desc(op_hrs)))

  ROUTING_GROUP_ID op_hrs    count
1 1709             37950.900 239921
2 728              16356.460  29489
3 2488             12834.410  34665
4 641               9472.420  22191
5 1247              9214.100  58832
6 1636              8815.399  85552

In [34]:
A[A$ROUTING_GROUP_ID == '1586',]
A[A$ROUTING_GROUP_ID == '141',]

  ROUTING_GROUP_ID op_hrs  count
1 1586             2029.06 12567

  ROUTING_GROUP_ID op_hrs  count
1 141              3650.34 8134

In [35]:
part1 <- k_19[k_19$ROUTING_GROUP_ID == '1586',]
part2 <- k_19[k_19$ROUTING_GROUP_ID == '728',]
part3 <- k_19[k_19$ROUTING_GROUP_ID == '141',]
part4 <- k_19[k_19$ROUTING_GROUP_ID == '2488',]
part5 <- k_19[k_19$ROUTING_GROUP_ID == '1709',]

In [36]:
part1586 <- group_by(part1,WORK_ORDER)
B<- arrange(summarise(part1586,cycle_time = sum(HRS_part)),cycle_time)
(mean_1586 <- sum(B$cycle_time)/dim(B)[1])
(variance_1586 <- var(B$cycle_time))

[1] 4.729744

[1] 3.812373

In [37]:
part728 <- group_by(part2,WORK_ORDER)
B<- arrange(summarise(part728,cycle_time = sum(HRS_part)),cycle_time)
(mean_728 <- sum(B$cycle_time)/dim(B)[1])
(variance_728 <- var(B$cycle_time))

[1] 8.681773

[1] 12.29153

In [38]:
part141 <- group_by(part3,WORK_ORDER)
B<- arrange(summarise(part141,cycle_time = sum(HRS_part)),cycle_time)
(mean_141 <- sum(B$cycle_time)/dim(B)[1])
(variance_141 <- var(B$cycle_time))

[1] 23.55058

[1] 78.40135

In [39]:
part2488 <- group_by(part4,WORK_ORDER)
B<- arrange(summarise(part2488,cycle_time = sum(HRS_part)),cycle_time)
(mean_2488 <- sum(B$cycle_time)/dim(B)[1])
(variance_2488 <- var(B$cycle_time))

[1] 6.986614

[1] 6.670061

In [40]:
part1709 <- group_by(part5,WORK_ORDER)
B<- arrange(summarise(part1709,cycle_time = sum(HRS_part)),cycle_time)
(mean_1709 <- sum(B$cycle_time)/dim(B)[1])
(variance_1709 <- var(B$cycle_time))

[1] 4.446503

[1] 1.824812

In [41]:
k17part141 <- k_17[k_17$ROUTING_GROUP_ID == '141',]
k18part141 <- k_18[k_18$ROUTING_GROUP_ID == '141',]
k19part141 <- k_19[k_19$ROUTING_GROUP_ID == '141',]

In [42]:
k17op141 <- group_by(k17part141,OPERATION_NUM)
C <- arrange(summarise(k17op141,op_time = sum(HRS_part)),op_time)
head(arrange(C,desc(op_time)))
sum(C$op_time)

  OPERATION_NUM op_time
1 70            1889.55
2 60             860.02
3 50             688.49
4 80             466.81
5 85             352.41
6 40             343.55

[1] 9389.947

In [43]:
k18op141 <- group_by(k18part141,OPERATION_NUM)
C <- arrange(summarise(k18op141,op_time = sum(HRS_part)),op_time)
head(arrange(C,desc(op_time)))
sum(C$op_time)

  OPERATION_NUM op_time
1 70            973.45
2 60            536.32
3 50            375.02
4 80            259.16
5 85            241.80
6 40            187.79

[1] 5294.993

In [44]:
k19op141 <- group_by(k19part141,OPERATION_NUM)
C <- arrange(summarise(k19op141,op_time = sum(HRS_part)),op_time)
head(arrange(C,desc(op_time)))
sum(C$op_time)

  OPERATION_NUM op_time
1 70            785.39
2 60            367.65
3 50            308.07
4 80            202.49
5 75            148.89
6 110           135.93

[1] 3650.34

In [45]:
k17op70 <- k_17[k_17$OPERATION_NUM == '70',]
k18op70 <- k_18[k_18$OPERATION_NUM == '70',]
k19op70 <- k_19[k_19$OPERATION_NUM == '70',]

In [46]:
k17part <- group_by(k17op70,ROUTING_GROUP_ID)
C <- arrange(summarise(k17part,part_time = sum(HRS_part)),part_time)
head(arrange(C,desc(part_time)))
sum(C$part_time)

  ROUTING_GROUP_ID part_time
1 141              1889.5500
2 2381              683.4200
3 2396              576.2417
4 1208              545.5900
5 1216              333.7100
6 728               325.4500

[1] 11955.6

In [65]:
k18part <- group_by(k18op70,ROUTING_GROUP_ID)
C <- arrange(summarise(k18part,part_time = sum(HRS_part)),part_time)
head(arrange(C,desc(part_time)))
sum(C$part_time)
C[C$ROUTING_GROUP_ID == '2396',]

  ROUTING_GROUP_ID part_time
1 728              1581.97
2 141               973.45
3 2381              697.15
4 4870              682.93
5 1247              528.89
6 729               522.85

[1] 15944.29

  ROUTING_GROUP_ID part_time
1 2396             288.345

In [66]:
k19part <- group_by(k19op70,ROUTING_GROUP_ID)
C <- arrange(summarise(k19part,part_time = sum(HRS_part)),part_time)
head(arrange(C,desc(part_time)))
sum(C$part_time)
C[C$ROUTING_GROUP_ID == '2396',]

  ROUTING_GROUP_ID part_time
1 728              2764.74
2 4870             1256.69
3 141               785.39
4 1247              729.80
5 729               673.31
6 2381              658.51

[1] 19159.4

  ROUTING_GROUP_ID part_time
1 2396             299.8794

In [55]:
k19part4870 <- k_19[k_19$ROUTING_GROUP_ID == '4870',]
part4870 <- group_by(k19part4870,WORK_ORDER)
B<- arrange(summarise(part4870,cycle_time = sum(HRS_part)),cycle_time)
(mean_4870 <- sum(B$cycle_time)/dim(B)[1])
(variance_4870 <- var(B$cycle_time))

[1] 13.94238

[1] 20.89157

In [56]:
k17part2381 <- k_17[k_17$ROUTING_GROUP_ID == '2381',]
part2381 <- group_by(k17part2381,WORK_ORDER)
B<- arrange(summarise(part2381,cycle_time = sum(HRS_part)),cycle_time)
(mean_2381 <- sum(B$cycle_time)/dim(B)[1])
(variance_2381 <- var(B$cycle_time))

[1] 9.82168

[1] 13.59571

In [57]:
k17part2396 <- k_17[k_17$ROUTING_GROUP_ID == '2396',]
part2396 <- group_by(k17part2396,WORK_ORDER)
B<- arrange(summarise(part2396,cycle_time = sum(HRS_part)),cycle_time)
(mean_2396 <- sum(B$cycle_time)/dim(B)[1])
(variance_2396 <- var(B$cycle_time))

[1] 12.92691

[1] 70.50573

In [58]:
k18part2396 <- k_18[k_18$ROUTING_GROUP_ID == '2396',]
part2396 <- group_by(k18part2396,WORK_ORDER)
B<- arrange(summarise(part2396,cycle_time = sum(HRS_part)),cycle_time)
(mean_2396 <- sum(B$cycle_time)/dim(B)[1])
(variance_2396 <- var(B$cycle_time))

[1] 6.001674

[1] 9.683937

In [61]:
k19part2396 <- k_19[k_19$ROUTING_GROUP_ID == '2396',]
part2396 <- group_by(k19part2396,WORK_ORDER)
B<- arrange(summarise(part2396,cycle_time = sum(HRS_part)),cycle_time)
(mean_2396 <- sum(B$cycle_time)/dim(B)[1])
(variance_2396 <- var(B$cycle_time))

[1] 5.325463

[1] 9.478578