In [1]:
require(tidyverse)
k_17 <- read.csv("table_export_DATA_2017.csv")
k_17$POST_DATE <- as.Date(k_17$POST_DATE)
k_17$EMP_NUM <- as.factor(k_17$EMP_NUM)
k_17$SUP_EMP_NUM <- as.factor(k_17$SUP_EMP_NUM)
k_17$WORK_ORDER <- as.factor(k_17$WORK_ORDER)
k_17$OPERATION_NUM <- as.factor(k_17$OPERATION_NUM)
k_17$PRODUCT_LINE <- as.factor(k_17$PRODUCT_LINE)
k_17$PRODUCT_CELL_ID <- as.factor(k_17$PRODUCT_CELL_ID)
k_17$ROUTING_GROUP_ID <- as.factor(k_17$ROUTING_GROUP_ID)
k_17$DOC <- as.factor(k_17$DOC)
sapply(k_17,function(x) sum(is.na(x)))

Loading required package: tidyverse

Warning message:
"package 'tidyverse' was built under R version 3.6.2"
-- Attaching packages --------------------------------------- tidyverse 1.3.0 --

v ggplot2 3.3.0     v purrr   0.3.3
v tibble  2.1.3     v dplyr   0.8.3
v tidyr   1.0.0     v stringr 1.4.0
v readr   1.3.1     v forcats 0.4.0

Warning message:
"package 'ggplot2' was built under R version 3.6.3"
Warning message:
"package 'purrr' was built under R version 3.6.2"
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

       POST_DATE          EMP_NUM      SUP_EMP_NUM       WORK_ORDER
         1010167                0              137                0
   OPERATION_NUM         QUANTITY              HRS        HRS_CLASS
               0                3                0                0
            TYPE     PRODUCT_LINE  PRODUCT_CELL_ID ROUTING_GROUP_ID
               0                0                0                0
             DOC
               0

In [2]:
k_17pl71 <- k_17[k_17$PRODUCT_LINE == 71,]
summary(k_17pl71)
str(k_17pl71)
head(k_17pl71)

   POST_DATE             EMP_NUM        SUP_EMP_NUM        WORK_ORDER
 Min.   :0001-02-20   841336 : 12703   845260 :90442   161411044:    90
 1st Qu.:0004-07-20   818800 : 10364   837146 :73442   161015977:    89
 Median :0007-07-20   823399 : 10149   829449 :56129   160953785:    82
 Mean   :0007-06-09   837189 : 10003   834179 :49803   161028792:    82
 3rd Qu.:0010-07-20   840815 :  9048   843499 :40113   161040684:    81
 Max.   :0012-12-20   840818 :  8754   (Other):99170   161101481:    80
 NA's   :256505       (Other):348082   NA's   :    4   (Other)  :408599
 OPERATION_NUM       QUANTITY            HRS          HRS_CLASS    TYPE
 10     : 20908   Min.   :  1.000   Min.   :-8.6600   R:343144       :     0
 160    : 15924   1st Qu.:  1.000   1st Qu.: 0.0900   S:     2   ZP03:407213
 30     : 15445   Median :  1.000   Median : 0.2100   T: 65957   ZP06:    54
 40     : 13589   Mean   :  2.969   Mean   : 0.4093   V:     0   ZRTN:   853
 110    : 12631   3rd Qu.:  5.000   3rd Qu.: 0.4800              ZRW3:   983
 150    : 12412   Max.   :300.000   Max.   :11.7800              ZRW6:     0
 (Other):318194
  PRODUCT_LINE    PRODUCT_CELL_ID  ROUTING_GROUP_ID      DOC
 71     :409103   384    :120352   1586   :109829   M102678: 52481
 24     :     0   383    : 63827   1636   : 62948   M101090: 35738
 25     :     0   395    : 44338   2292   : 26728   M101095: 33414
 26     :     0   391    : 37136   1915   : 11338   M119437: 13017
 27     :     0   375    : 34540   1709   :  9637   M102261: 12933
 28     :     0   390    : 22594   2396   :  9624   M101092: 12606
 (Other):     0   (Other): 86316   (Other):178999   (Other):248914

'data.frame':	409103 obs. of  13 variables:
 $ POST_DATE       : Date, format: "0001-02-20" "0001-02-20" ...
 $ EMP_NUM         : Factor w/ 729 levels "603837","810413",..: 366 599 366 366 569 569 569 569 599 599 ...
 $ SUP_EMP_NUM     : Factor w/ 54 levels "705050","813932",..: 45 45 45 45 45 45 45 45 45 45 ...
 $ WORK_ORDER      : Factor w/ 101768 levels "16875303","16967468",..: 1104 4746 2545 2707 2467 3724 3727 3725 1011 4038 ...
 $ OPERATION_NUM   : Factor w/ 529 levels "1","2","3","4",..: 133 39 133 133 35 30 30 30 133 133 ...
 $ QUANTITY        : int  1 3 1 1 1 5 4 5 1 1 ...
 $ HRS             : num  0.09 0.41 0.15 0.09 1.52 0.05 1.99 0.96 0.27 0.27 ...
 $ HRS_CLASS       : Factor w/ 4 levels "R","S","T","V": 1 1 1 1 1 1 1 1 1 1 ...
 $ TYPE            : Factor w/ 6 levels "","ZP03","ZP06",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ PRODUCT_LINE    : Factor w/ 22 levels "24","25","26",..: 16 16 16 16 16 16 16 16 16 16 ...
 $ PRODUCT_CELL_ID : Factor w/ 167 levels "302","303","304",..: 66 60 66 66 60 60 60 60 66 66 ...
 $ ROUTING_GROUP_ID: Factor w/ 2570 levels "61","62","63",..: 639 613 639 639 729 695 695 695 639 639 ...
 $ DOC             : Factor w/ 3170 levels "00857-0869-0001",..: 3138 656 3138 3138 661 661 661 661 3138 3138 ...

   POST_DATE  EMP_NUM SUP_EMP_NUM WORK_ORDER OPERATION_NUM QUANTITY HRS
74 0001-02-20 827486  838240      160517202  135           1        0.09
75 0001-02-20 843295  838240      160667442  40            3        0.41
76 0001-02-20 827486  838240      160611434  135           1        0.15
77 0001-02-20 827486  838240      160616723  135           1        0.09
78 0001-02-20 841432  838240      160610104  35            1        1.52
79 0001-02-20 841432  838240      160648974  30            5        0.05
   HRS_CLASS TYPE PRODUCT_LINE PRODUCT_CELL_ID ROUTING_GROUP_ID DOC
74 R         ZP03 71           384             1586             SIS561518021
75 R         ZP03 71           377             1556             M101090
76 R         ZP03 71           384             1586             SIS561518021
77 R         ZP03 71           384             1586             SIS561518021
78 R         ZP03 71           377             1702             M101095
79 R         ZP03 71           377             1649             M101095

In [3]:
(total_hrs <- sum(k_17pl71$HRS))

[1] 167431.1

In [4]:
by_operation <- group_by(k_17pl71,OPERATION_NUM)
A <- arrange(summarise(by_operation,op_hrs = sum(HRS),count = n()),op_hrs)
head(arrange(A,desc(op_hrs)))

  OPERATION_NUM op_hrs   count
1 10            11013.70 20908
2 20             8428.25  9745
3 30             7311.21 15445
4 60             7195.23  7884
5 40             7100.91 13589
6 110            6508.86 12631

In [5]:
by_part <- group_by(k_17pl71,ROUTING_GROUP_ID)
B <- arrange(summarise(by_part,part_hrs = sum(HRS),count = n()),part_hrs)
head(arrange(B,desc(part_hrs)))

  ROUTING_GROUP_ID part_hrs count
1 1636             24080.91  62948
2 1586             19064.07 109829
3 2396             10444.20   9624
4 2292              6307.28  26728
5 2044              5287.30   9255
6 1915              4660.99  11338

In [6]:
by_doc <- group_by(k_17pl71,DOC)
B <- arrange(summarise(by_doc,doc_hrs = sum(HRS),count = n()),doc_hrs)
head(arrange(B,desc(doc_hrs)))

  DOC     doc_hrs  count
1 M101095 27542.08 33414
2 M101090 24308.66 35738
3 M102678 20920.87 52481
4 M101086  5137.35  7703
5 M101085  4212.74  5966
6 M101105  3717.72  6185

In [7]:
by_emp <-  group_by(k_17pl71,EMP_NUM)
C <- arrange(summarise(by_emp,emp_hrs = sum(HRS),count = n()),emp_hrs)
head(arrange(C,desc(emp_hrs)))

  EMP_NUM emp_hrs count
1 822979  2344.52 1600
2 841258  2252.02 4210
3 818730  2179.77  697
4 824675  2135.16 1816
5 818565  2133.95 1795
6 841444  2125.25 7706

In [8]:
cor_k_17pl71 <- k_17pl71[k_17pl71$HRS < 0 ,]
str(cor_k_17pl71)

'data.frame':	9353 obs. of  13 variables:
 $ POST_DATE       : Date, format: "0001-04-20" "0001-04-20" ...
 $ EMP_NUM         : Factor w/ 729 levels "603837","810413",..: 282 36 36 36 36 36 36 36 36 36 ...
 $ SUP_EMP_NUM     : Factor w/ 54 levels "705050","813932",..: 23 39 39 39 39 39 39 39 39 39 ...
 $ WORK_ORDER      : Factor w/ 101768 levels "16875303","16967468",..: 3458 2463 2177 1915 2745 2738 1406 2295 2733 3135 ...
 $ OPERATION_NUM   : Factor w/ 529 levels "1","2","3","4",..: 49 54 74 204 223 267 201 201 223 223 ...
 $ QUANTITY        : int  5 15 9 10 4 6 2 5 4 5 ...
 $ HRS             : num  -3.52 -0.32 -0.4 -0.51 -0.25 -0.28 -0.06 -0.6 -0.11 -0.31 ...
 $ HRS_CLASS       : Factor w/ 4 levels "R","S","T","V": 1 1 1 1 1 1 1 1 1 1 ...
 $ TYPE            : Factor w/ 6 levels "","ZP03","ZP06",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ PRODUCT_LINE    : Factor w/ 22 levels "24","25","26",..: 16 16 16 16 16 16 16 16 16 16 ...
 $ PRODUCT_CELL_ID : Factor w/ 167 levels "302","303","304",..: 72 58 58 58 58 58 58 58 58 58 ...
 $ ROUTING_GROUP_ID: Factor w/ 2570 levels "61","62","63",..: 951 684 709 630 1129 838 1090 1058 2242 1114 ...
 $ DOC             : Factor w/ 3170 levels "00857-0869-0001",..: 661 2875 2875 2875 2875 2875 2966 2637 2875 2875 ...

In [9]:
(total_corrected_hrs <- sum(cor_k_17pl71$HRS))

[1] -4128.08

In [10]:
by_operation <- group_by(cor_k_17pl71,OPERATION_NUM)
A <- arrange(summarise(by_operation,op_hrs = sum(HRS),count = n()),op_hrs)
head(arrange(A,op_hrs))

  OPERATION_NUM op_hrs  count
1 20            -342.91 285
2 10            -253.42 484
3 30            -171.11 401
4 60            -162.18 177
5 40            -158.93 210
6 777           -131.29 115

In [11]:
by_part <- group_by(cor_k_17pl71,ROUTING_GROUP_ID)
B <- arrange(summarise(by_part,part_hrs = sum(HRS),count = n()),part_hrs)
head(arrange(B,part_hrs))

  ROUTING_GROUP_ID part_hrs count
1 1636             -551.90  1454
2 1586             -401.95  2653
3 2396             -274.40   267
4 2320             -188.77   358
5 2292             -114.97   443
6 1915              -99.08   193

In [12]:
by_doc <- group_by(cor_k_17pl71,DOC)
B <- arrange(summarise(by_doc,doc_hrs = sum(HRS),count = n()),doc_hrs)
head(arrange(B,doc_hrs))

  DOC     doc_hrs count
1 M101090 -680.40  867
2 M101095 -627.82  764
3 M102678 -501.37 1317
4 M118785 -145.99  121
5 M101098  -86.97  124
6 M101085  -71.46   95

In [13]:
by_emp <-  group_by(cor_k_17pl71,EMP_NUM)
C <- arrange(summarise(by_emp,emp_hrs = sum(HRS),count = n()),emp_hrs)
head(arrange(C,emp_hrs))

  EMP_NUM emp_hrs count
1 840677  -122.75  71
2 838686  -101.86 253
3 824675   -85.76  72
4 841499   -85.41 233
5 840100   -81.34  51
6 839893   -80.28 267

In [14]:
k_18 <- read.csv("table_export_DATA_2018.csv")
k_18$POST_DATE <- as.Date(k_18$POST_DATE)
k_18$EMP_NUM <- as.factor(k_18$EMP_NUM)
k_18$SUP_EMP_NUM <- as.factor(k_18$SUP_EMP_NUM)
k_18$WORK_ORDER <- as.factor(k_18$WORK_ORDER)
k_18$OPERATION_NUM <- as.factor(k_18$OPERATION_NUM)
k_18$PRODUCT_LINE <- as.factor(k_18$PRODUCT_LINE)
k_18$PRODUCT_CELL_ID <- as.factor(k_18$PRODUCT_CELL_ID)
k_18$ROUTING_GROUP_ID <- as.factor(k_18$ROUTING_GROUP_ID)
k_18$DOC <- as.factor(k_18$DOC)
sapply(k_18,function(x) sum(is.na(x)))

       POST_DATE          EMP_NUM      SUP_EMP_NUM       WORK_ORDER
         1163066                0                0                0
   OPERATION_NUM         QUANTITY              HRS        HRS_CLASS
               0                0                0                0
            TYPE     PRODUCT_LINE  PRODUCT_CELL_ID ROUTING_GROUP_ID
               0                0                0                0
             DOC
               0

In [15]:
k_18pl71 <- k_18[k_18$PRODUCT_LINE == 71,]
summary(k_18pl71)
str(k_18pl71)
head(k_18pl71)

   POST_DATE             EMP_NUM        SUP_EMP_NUM         WORK_ORDER
 Min.   :0001-02-20   818800 : 18695   835447 :149002   162982971:    96
 1st Qu.:0004-04-20   818623 : 14192   829449 :126729   163033432:    91
 Median :0007-01-20   837189 : 12478   845260 :120031   162939363:    90
 Mean   :0007-04-02   821948 :  9842   849797 : 92321   163023240:    86
 3rd Qu.:0010-05-20   849998 :  9596   837146 : 59625   162906875:    83
 Max.   :0012-12-20   814093 :  9080   824132 : 21612   162977374:    83
 NA's   :371120       (Other):523719   (Other): 28282   (Other)  :597073
 OPERATION_NUM       QUANTITY            HRS           HRS_CLASS    TYPE
 40     : 23698   Min.   :  1.000   Min.   :-52.5000   R:488702   ZP03:595494
 10     : 23316   1st Qu.:  1.000   1st Qu.:  0.0900   S:     3   ZP06:   696
 30     : 19829   Median :  1.000   Median :  0.1800   T:108892   ZRTN:   510
 150    : 19750   Mean   :  2.389   Mean   :  0.3327   U:     0   ZRW3:   683
 160    : 19073   3rd Qu.:  3.000   3rd Qu.:  0.3900   V:     5   ZRW6:   219
 180    : 18553   Max.   :345.000   Max.   : 52.5000
 (Other):473383
  PRODUCT_LINE    PRODUCT_CELL_ID  ROUTING_GROUP_ID      DOC
 71     :597602   384    :169135   1586   :112192   M101095: 61900
 24     :     0   391    : 91770   1636   : 69650   M101090: 60411
 25     :     0   383    : 70879   1709   : 54684   M102678: 58272
 26     :     0   395    : 64626   2292   : 37044   M101092: 21094
 27     :     0   375    : 44598   2044   : 15751   M119437: 19041
 28     :     0   377    : 43468   2320   : 14795   M102261: 18038
 (Other):     0   (Other):113126   (Other):293486   (Other):358846

'data.frame':	597602 obs. of  13 variables:
 $ POST_DATE       : Date, format: "0001-02-20" "0001-02-20" ...
 $ EMP_NUM         : Factor w/ 844 levels "603837","810413",..: 132 508 508 508 132 508 132 508 508 132 ...
 $ SUP_EMP_NUM     : Factor w/ 49 levels "602955","818517",..: 5 5 5 5 5 5 5 5 5 5 ...
 $ WORK_ORDER      : Factor w/ 118897 levels "160296206","160537746",..: 5087 1865 1865 5236 1604 5399 3348 1858 3305 3343 ...
 $ OPERATION_NUM   : Factor w/ 526 levels "1","2","3","4",..: 79 119 119 79 153 89 114 339 368 114 ...
 $ QUANTITY        : int  5 5 5 5 1 3 1 1 4 1 ...
 $ HRS             : num  0.3 0.2 0.2 0.1 0.2 0.1 0.3 0.2 0.2 0.3 ...
 $ HRS_CLASS       : Factor w/ 5 levels "R","S","T","U",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ TYPE            : Factor w/ 5 levels "ZP03","ZP06",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ PRODUCT_LINE    : Factor w/ 22 levels "24","25","26",..: 16 16 16 16 16 16 16 16 16 16 ...
 $ PRODUCT_CELL_ID : Factor w/ 168 levels "301","302","303",..: 61 61 61 61 74 61 74 74 61 74 ...
 $ ROUTING_GROUP_ID: Factor w/ 2536 levels "61","62","63",..: 1055 1055 1055 1051 2198 835 2251 2252 2199 2251 ...
 $ DOC             : Factor w/ 3101 levels "00857-0869-0001",..: 3033 3033 3033 3033 2352 2752 2531 1950 2249 2531 ...

   POST_DATE  EMP_NUM SUP_EMP_NUM WORK_ORDER OPERATION_NUM QUANTITY HRS
44 0001-02-20 818837  818658      162323640  80            5        0.3
48 0001-02-20 841157  818658      162252112  120           5        0.2
49 0001-02-20 841157  818658      162252112  120           5        0.2
53 0001-02-20 841157  818658      162325810  80            5        0.1
55 0001-02-20 818837  818658      162243717  155           1        0.2
56 0001-02-20 841157  818658      162327955  90            3        0.1
   HRS_CLASS TYPE PRODUCT_LINE PRODUCT_CELL_ID ROUTING_GROUP_ID DOC
44 R         ZP03 71           375             2305             SIS4054421550
48 R         ZP03 71           375             2305             SIS4054421550
49 R         ZP03 71           375             2305             SIS4054421550
53 R         ZP03 71           375             2299             SIS4054421550
55 R         ZP03 71           390             4767             M114480
56 R         ZP03 71           375             1943             SIS1203686609

In [16]:
(total_hrs <- sum(k_18pl71$HRS))

[1] 198852.5

In [17]:
by_operation <- group_by(k_18pl71,OPERATION_NUM)
A <- arrange(summarise(by_operation,op_hrs = sum(HRS),count = n()),op_hrs)
head(arrange(A,desc(op_hrs)))

  OPERATION_NUM op_hrs   count
1 10            13528.34 23316
2 20            10306.13 15333
3 40             9642.06 23698
4 30             8101.35 19829
5 110            8079.67 18300
6 60             7830.22 12251

In [18]:
by_part <- group_by(k_18pl71,ROUTING_GROUP_ID)
B <- arrange(summarise(by_part,part_hrs = sum(HRS),count = n()),part_hrs)
head(arrange(B,desc(part_hrs)))

  ROUTING_GROUP_ID part_hrs count
1 1636             26715.01  69650
2 1586             19434.20 112192
3 1709              9864.79  54684
4 2292              7761.50  37044
5 1915              4442.82  13190
6 2044              4244.95  15751

In [19]:
by_doc <- group_by(k_18pl71,DOC)
B <- arrange(summarise(by_doc,doc_hrs = sum(HRS),count = n()),doc_hrs)
head(arrange(B,desc(doc_hrs)))

  DOC     doc_hrs  count
1 M101095 31220.94 61900
2 M101090 30268.77 60411
3 M102678 23159.10 58272
4 M101098  5006.80  9997
5 M101105  4447.33  8079
6 M101086  4315.77 12216

In [20]:
by_emp <-  group_by(k_18pl71,EMP_NUM)
C <- arrange(summarise(by_emp,emp_hrs = sum(HRS),count = n()),emp_hrs)
head(arrange(C,desc(emp_hrs)))

  EMP_NUM emp_hrs count
1 848182  2279.01 1730
2 821953  2256.54 4604
3 849640  2237.67 3965
4 840677  2154.29 1888
5 847809  2123.33 7241
6 841124  2059.68 3493

In [21]:
k_19 <- read.csv("table_export_DATA_2019.csv")
k_19$POST_DATE <- as.Date(k_19$POST_DATE)
k_19$EMP_NUM <- as.factor(k_19$EMP_NUM)
k_19$SUP_EMP_NUM <- as.factor(k_19$SUP_EMP_NUM)
k_19$WORK_ORDER <- as.factor(k_19$WORK_ORDER)
k_19$OPERATION_NUM <- as.factor(k_19$OPERATION_NUM)
k_19$PRODUCT_LINE <- as.factor(k_19$PRODUCT_LINE)
k_19$PRODUCT_CELL_ID <- as.factor(k_19$PRODUCT_CELL_ID)
k_19$ROUTING_GROUP_ID <- as.factor(k_19$ROUTING_GROUP_ID)
k_19$DOC <- as.factor(k_19$DOC)
sapply(k_19,function(x) sum(is.na(x)))

       POST_DATE          EMP_NUM      SUP_EMP_NUM       WORK_ORDER
         1342455                0                0                0
   OPERATION_NUM         QUANTITY              HRS        HRS_CLASS
               0                0                0                0
            TYPE     PRODUCT_LINE  PRODUCT_CELL_ID ROUTING_GROUP_ID
               0                0                0                0
             DOC
               0

In [22]:
k_19pl71 <- k_19[k_19$PRODUCT_LINE == 71,]
summary(k_19pl71)
str(k_19pl71)
head(k_19pl71)

   POST_DATE             EMP_NUM        SUP_EMP_NUM         WORK_ORDER
 Min.   :0001-02-20   818800 : 25220   849797 :210558   165239363:    83
 1st Qu.:0004-02-20   818623 : 15583   845260 :109868   165254671:    81
 Median :0006-12-20   882430 : 12878   835447 : 90040   165167230:    79
 Mean   :0007-01-01   818884 : 12425   884346 : 76138   165275675:    78
 3rd Qu.:0009-12-20   814093 : 12220   884824 : 53885   164681368:    77
 Max.   :0012-12-20   821948 : 11992   829449 : 53304   165167235:    75
 NA's   :465887       (Other):672380   (Other):168905   (Other)  :762225
 OPERATION_NUM       QUANTITY            HRS           HRS_CLASS    TYPE
 150    : 29127   Min.   :  1.000   Min.   :-18.4200   D:     0   ZP03:760049
 40     : 28417   1st Qu.:  1.000   1st Qu.:  0.0700   R:638411   ZP06:   490
 180    : 26954   Median :  1.000   Median :  0.1600   S:    34   ZRTN:   742
 30     : 26881   Mean   :  2.131   Mean   :  0.3005   T:124246   ZRW3:  1414
 10     : 26094   3rd Qu.:  1.000   3rd Qu.:  0.3500   U:     0   ZRW6:     3
 110    : 25509   Max.   :292.000   Max.   : 18.4200   V:     7
 (Other):599716
  PRODUCT_LINE    PRODUCT_CELL_ID  ROUTING_GROUP_ID            DOC
 71     :762698   384    :256300   1709   :239921   M101090      : 93660
 24     :     0   391    :111726   1636   : 85552   M101095      : 79192
 25     :     0   383    : 86810   2292   : 39893   M102678      : 69461
 26     :     0   395    : 82797   2044   : 21340   SIS3261152956: 28712
 27     :     0   394    : 46549   2320   : 16487   M102261      : 23914
 28     :     0   375    : 45785   2365   : 16224   M101092      : 23726
 (Other):     0   (Other):132731   (Other):343281   (Other)      :444033

'data.frame':	762698 obs. of  13 variables:
 $ POST_DATE       : Date, format: "0001-02-20" "0001-02-20" ...
 $ EMP_NUM         : Factor w/ 925 levels "603837","813478",..: 426 725 434 434 434 426 434 380 380 380 ...
 $ SUP_EMP_NUM     : Factor w/ 62 levels "818517","818654",..: 3 3 3 3 3 3 3 15 15 15 ...
 $ WORK_ORDER      : Factor w/ 133129 levels "161796439","161825001",..: 4237 4828 4844 3166 5123 5350 4931 1074 1074 917 ...
 $ OPERATION_NUM   : Factor w/ 514 levels "1","2","3","4",..: 88 108 88 78 29 88 78 363 363 363 ...
 $ QUANTITY        : int  5 3 3 5 5 4 5 1 1 1 ...
 $ HRS             : num  0.1 0.2 0.2 0.2 0.2 0.1 0.2 0.15 0.06 0.05 ...
 $ HRS_CLASS       : Factor w/ 6 levels "D","R","S","T",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ TYPE            : Factor w/ 5 levels "ZP03","ZP06",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ PRODUCT_LINE    : Factor w/ 22 levels "24","25","26",..: 16 16 16 16 16 16 16 16 16 16 ...
 $ PRODUCT_CELL_ID : Factor w/ 164 levels "302","303","304",..: 57 57 57 57 57 57 57 71 71 71 ...
 $ ROUTING_GROUP_ID: Factor w/ 2526 levels "61","62","63",..: 1034 1034 841 1043 802 832 1043 2210 2210 2210 ...
 $ DOC             : Factor w/ 3094 levels "00857-0869-0001",..: 3022 625 2758 3022 2758 3022 3022 2792 2792 2792 ...

   POST_DATE  EMP_NUM SUP_EMP_NUM WORK_ORDER OPERATION_NUM QUANTITY HRS
1  0001-02-20 841157  818658      163998209  90            5        0.1
4  0001-02-20 878031  818658      164006241  110           3        0.2
8  0001-02-20 841269  818658      164006488  90            3        0.2
12 0001-02-20 841269  818658      163972863  80            5        0.2
13 0001-02-20 841269  818658      164012064  30            5        0.2
14 0001-02-20 841157  818658      164016897  90            4        0.1
   HRS_CLASS TYPE PRODUCT_LINE PRODUCT_CELL_ID ROUTING_GROUP_ID DOC
1  R         ZP03 71           375             2288             SIS4054421550
4  R         ZP03 71           375             2288             M101090
8  R         ZP03 71           375             1963             SIS1203686609
12 R         ZP03 71           375             2299             SIS4054421550
13 R         ZP03 71           375             1910             SIS1203686609
14 R         ZP03 71           375             1952             SIS4054421550

In [23]:
(total_hrs <- sum(k_19pl71$HRS))

[1] 229198.5

In [24]:
by_operation <- group_by(k_19pl71,OPERATION_NUM)
A <- arrange(summarise(by_operation,op_hrs = sum(HRS),count = n()),op_hrs)
head(arrange(A,desc(op_hrs)))

  OPERATION_NUM op_hrs   count
1 10            14703.00 26094
2 40            11301.65 28417
3 110           10837.23 25509
4 180           10447.56 26954
5 20             9457.37 12644
6 120            9410.44 14727

In [25]:
by_part <- group_by(k_19pl71,ROUTING_GROUP_ID)
B <- arrange(summarise(by_part,part_hrs = sum(HRS),count = n()),part_hrs)
head(arrange(B,desc(part_hrs)))

  ROUTING_GROUP_ID part_hrs count
1 1709             37950.90 239921
2 1636             32119.51  85552
3 2292              8508.39  39893
4 2044              4863.40  21340
5 1915              4598.19  14801
6 1995              3868.27  14045

In [26]:
by_doc <- group_by(k_19pl71,DOC)
B <- arrange(summarise(by_doc,doc_hrs = sum(HRS),count = n()),doc_hrs)
head(arrange(B,desc(doc_hrs)))

  DOC     doc_hrs  count
1 M101090 36058.56 93660
2 M101095 35721.22 79192
3 M102678 27269.55 69461
4 M102114  7881.28 19037
5 M114327  6241.62  9126
6 M101086  5638.66 14640

In [27]:
by_emp <-  group_by(k_19pl71,EMP_NUM)
C <- arrange(summarise(by_emp,emp_hrs = sum(HRS),count = n()),emp_hrs)
head(arrange(C,desc(emp_hrs)))

  EMP_NUM emp_hrs count
1 847809  2380.38  4075
2 840677  2354.13  1959
3 848182  2220.98  1365
4 818884  2148.23 12425
5 821953  2134.08  5723
6 875991  2076.74  1897